@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Mochiy+Pop+P+One&family=Roboto:wght@100;300;400;700&family=Ubuntu:wght@400;700&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: #2e363e;
  font-family: "Mochiy Pop P One", sans-serif;
  padding-top: 30px;
  background-color: #c8eeff;
}
